{% extends "base.j2" %}

{% block title %}Environment variables{% endblock %}

{% block heading %}Environment variables{% endblock %}

{% block content %}
<table>
    <tr>
		<th scope="col">Name</th>
    </tr>
    {% for blob in file_list %}
    <tr>
		<td>{{ blob.name }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}